@{
    ViewData["Title"] = "Already Approved";
}

<h2>Claim Already Approved</h2>
<h5>You have already approved this claim! It now needs to be approved by the Academic Manager before becomming fully approved</h5>

<a href="@Url.Action("PendingClaims", "Claims")" class="btn btn-primary">Back to Pending Claims</a>