@{
    ViewData["Title"] = "Claim Approved By Program Coordinator";
}

<h2 align="Left" style="color:seagreen;">Claim Approved</h2>
<h5 align="Left">You have successfully approved the claim! Now, it's time for the Academic Manager to do the same.</h5>

<a href="@Url.Action("PendingClaims", "Claims")" class="btn btn-primary">Back to Pending Claims</a>
