@{
    ViewData["Title"] = "Fully Approved";
}

<h2 align="Left" style="color:seagreen;">Claim Fully Approved</h2>
<h5 align="Left">You have successfully approved the claim and now the claim is fully approved!</h5>

<a href="@Url.Action("PendingClaims", "Claims")" class="btn btn-primary">Back to Pending Claims</a>
