@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 align="Center" style="color: seagreen">To The Contract Monthly Claim System or better known as the CMCS!</h2>
    <h3 align="Center">This is where lecturers will be able to submit claims which are then reviewed by the Programme Coordinator and Academic manager</h3>
    <p>      </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>
    <p>       </p>
    <h4 align="Center" style="color: seagreen">Want to submit a claim?</h4>
    <h5 align="Center">Head on over to 'Your Claims'!</h5>
    <p>       </p>
    <p>___________________________________________________________________________________________________________________________________________________________________________________________________________</p>

