


@{
    ViewData["Title"] = "HR Dashboard";
}

<h2>Your Dashboard</h2>

<h4 align="Left">As a HR member, this is where you'll be able to generate claim reports and manage the data of lecturers</h4>
<p>       </p>
<h5 align="Left">Need to generate a report?</h5>
<a href="@Url.Action("ReportView", "HR")" class="btn btn-info">Generate Report</a>
<p>        </p>
<h5 align="Left">Need to manage lecturers?</h5>
@* <a href="@Url.Action("ReportView", "HR")" class="btn btn-info">Manage Lecturers</a> *@